*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 900;
    font-size: 33px;
}
p{
    font-size: 18px;
    font-weight: 400;
}
#home{
    text-align: center;
    position:absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(249,251,250,1) 0%,rgba(226,245,239,1) 44%,rgba(235,248,242,1) 91%);
}
#home .home-h1{
  
    margin-top: 220px;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
}
#home h1 span{
    color: #0AB950;
}
#home .home-para{
    text-align: center;
    color: #4d4d4d;
    font-weight: 300;
    width: 80%;
}
#home .touch{
    font-weight: 500;
    line-height: 20px;
    background-color: #00983d;
    border-radius: 8px;
    padding: 13px 50px;
}
#home .touch:hover{
    background-color: #00722e;
    transition: .7s;
}

#home .portfolio{
    color: white;
    font-weight: 500;
    line-height: 20px;
    background-color: #174153;
    border-radius: 8px;
    padding: 13px 30px;
}
#home .portfolio:hover{
    background-color: #0d252e;
    transition: .7s;
}

#services h1{
    margin-top: 250px;
    font-size: 40px;
}
#services{
    text-align: center;
}
#services p{
    text-align: center;
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding: 0px 200px;
}
#services .media p{
    padding: 0px;
    text-align: start;
   font-size: 15px;
}
#discussing{
    margin-top:80px ;
    color: white;
}

#business-grow{
    margin-top: 80px;
    text-align: start;
}
#business-grow h1{
  
    margin: 0px;
    font-size: 31px;
    line-height: 39px;
    padding: 0px 100px;
    padding-left: 0px;
}
#business-grow span{
color: #00702d;
}
#business-grow p{
    text-align: start;
    color: #174153;
    font-size: 18px;
    width: 100%;
    text-transform: capitalize;
}
#business-grow i{
    color: #00bd4b;
    font-size: 18px;
    margin-right: 5px;
}
#business-grow ul li{
    display: flex;
    font-size: inherit;
    /* align-items: var(--icon-vertical-align,center); */
    font-size: 18px;
    color: #11526e;
}
#business-grow .upper-one{
    position: absolute;
    top: 40px;
    left: -25px;
    background-color: white;
    box-shadow: 0px 0px 10px;
    border-radius: 5px;
    padding: 10px 20px;
}
#business-grow .upper-two{
    position: absolute;
    bottom: -10px;
    right: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px;
    border-radius: 5px;
    padding: 10px 20px;
}
#business-grow .col-md-6 .main-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px;
}

#improve{
    margin-top: 140px;
    text-align: start;
    background-image: linear-gradient(68deg,#E9FFF87D 0%,#fff 55%);

}
#improve h1{
    text-align: center;
   padding: 0px 300px;
    font-size: 30px;
    margin: 0px;
}
#improve h3{
    color: #11526e;
    font-size: 22px;
    font-weight: 600;
}
#improve p{
    width: 100%;
    text-align: start;
    color: #11526e;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
}
#improve #first{
    background-color: #fff;
    border: 2px solid #b2acac;
    padding: 20px;
    border-radius: 20px;
}
#improve #first:hover{
    border-color:#00702d;
    transition: .7s;
}
#improve i{
    color: #00702d;
    font-size: 22px;
    margin-top: 0px;
    margin-right: 5px;
}
#improve ul li{
    padding: 5px;
}

#core{
    margin-top: 200px;
   text-align: center;
}
#core h1{
    margin: 0px;
    color: #174153;
    font-size: 30px;
    font-weight: 600;
}
#core p{
    width: 100%;
    margin-top: 20px;
    color: #7a7a7a;
    font-size: 18px;
    font-weight: 400;
}
#core #item{
    color: #11526e;
    border: 1px solid #11526e;
    padding: 10px 20px;
    border-radius: 40px;
    margin:5px ;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}
#core #item-section{
  
    flex-wrap: wrap;
    display: flex;
   justify-content: center;
    align-items: center;
}

#customer-says{
    margin-top: 80px;
}
#customer-says h1{
    font-size: 33px;
}
#engagement{
    text-align: start;
    padding: 50px;
    margin-top: 80px;
    background: #f2f2f2fa;
}
#engagement .main{
    border-radius: 30px;
      height: 500px;
}
#engagement .upper-one{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    top: 40px;
    right: -10px;
    width: 25%;
    z-index: 1;
}
#engagement .upper-two{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    bottom: -30px;
    left: 70px;
    width: 17%;
    z-index: 1;
}
#engagement .b{
    padding-left: 50px;
}
#engagement #a{
    background-color: #abd3ff;
}

#quick-support{
    padding-top: 80px;
    color: #11526e;
    text-align: start;
    background: #f2f2f26c;
    color: #0d252e;
}

#quick-support h2{
    color: #0d252e;
    font-size: 30px;
    font-weight: 700;
}
    #quick-support h3{
    margin: 0px;
    color: #00702d;
    font-weight: 800;
}
#quick-support p{
    font-size: 21px;
}
#quick-support ul li{
    font-weight: 500;
    font-size: 20px;
    padding: 5px 0px;
}
#quick-support i{
    margin-right: 10px;
    font-size: 30px;
    color: #00702d;
    ;
}

