*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
}
.container{
    padding: 80px 0px;
}
#home{
    background: linear-gradient(90deg,rgba(249,251,250,1) 0%,rgba(226,245,239,1) 44%,rgba(235,248,242,1) 91%);
    text-align: center;
    height: 100vh;
    padding: 100px 0px;
}

#home h1{
    font-size: 55px;
    font-weight: 900;
}
#home .container{
    max-width: 62%;
}
#home h1 span{
    color: #0AB950;
}
#home .buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 10px;
}
#home .btnone{
    padding: 10px 50px;
}
#services{
    display: flex;
    align-items: center;
    align-self: auto;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
#services .upper p{
    margin: 0px auto;
    max-width: 60%;
    
}
#services .media p{
    padding: 0px;
    text-align: start;
   font-size: 15px;
   font-weight: 300;
}

#discussed{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

#business-grow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
  
}
#business-grow .first{
    padding-right:60px ;
}
#business-grow #pic{
    position: relative;
    border: 15px solid #f0fff7;
    border-radius: 20px;
}
#business-grow h1{
    font-size: 44px;
    padding-left: 0px;
}
#business-grow span{
    color: #0AB950;
}

#business-grow .icon{
    font-weight: bolder;
    color: #00bd4b;
    font-size: 25px;
    margin-right: 5px;
}
#business-grow ul li{
    display: flex;
    font-size: 18px;
    color: #11526e;
}
#business-grow #pic .main-img{
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
}
#business-grow .upper-one{
    position: absolute;
    top: 65px;
    left: -35px;
    background-color: white;
    box-shadow: 0px 0px 10px;
    border-radius: 5px;
    padding: 10px 20px;
    z-index: 1;
}
#business-grow .upper-two{
    position: absolute;
    bottom: -20px;
    right: 100px;
    background-color: white;
    box-shadow: 0px 0px 10px;
    border-radius: 5px;
    padding: 10px 20px;
}


#improve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120vh;
    background-image: linear-gradient(68deg,#E9FFF87D 0%,#fff 55%);
}
#improve h1{
    width: 40%;
    font-size: 30px;
    margin: 0px auto;
    text-align: center;
}
#improve h3{
    color: #11526e;
    font-size: 22px;
    font-weight: 600;
}
#improve p{
    width: 100%;
    text-align: start;
    color: #11526e;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
}
#improve #first{
    background-color: #fff;
    border: 2px solid #b2acac;
    padding: 20px;
    border-radius: 20px;
}
#improve #first:hover{
    border-color:#00702d;
    transition: .7s;
}
#improve ul li i{
    color: #00702d;
    font-size: 22px;
    margin-top: 0px;
    margin-right: 5px;
}
#improve ul li{
    padding: 5px;
}

#core{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
   text-align: center;
}
#core .slider{
    position: relative;
    overflow: hidden;
}
#core .slide{
    display: flex;
    flex-direction: row;
    width: calc(250px * 40);
    animation: scroll 40s linear infinite;
    overflow: hidden;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }100%{
       transform: translateX(calc(-100px *10));
    }
}
#core .slider .item{
    background-color: #00bd4b;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px 5px;
    height: 50px;
}
#hire{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}


#customer-says{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
#customer-says .slick-track{
    margin: 0px;
    
}
#customer-says .col-md-12{
    text-align: start;
}
#customer-says .slick-prev:before , .slick-next:before{
   
    color: #00702d;
}


#engagement{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background: #f2f2f2fa;
}
#engagement .main{
    position: relative;
    border: 15px solid #f0fff785;
    border-radius: 30px;
      height: 500px;
}
#engagement .upper-one{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    top: 40px;
    right: -10px;
    width: 25%;
    z-index: 1;
}
#engagement .upper-two{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    bottom: -30px;
    left: 70px;
    width: 17%;
    z-index: 1;
}
#engagement .second{
    padding-left: 50px;
}
#engagement #a{
    background-color: #abd3ff;
}

#quick-support{
    background: #f2f2f26c;
    color: #0d252e;
   
}


    #quick-support h3{
    margin: 0px;
    color: #00702d;
    font-weight: 800;
}
#quick-support p{
    font-size: 21px;
}
#quick-support ul li{
    font-weight: 600;
    font-size: 20px;
    padding: 5px 0px;
}
#quick-support .logo{
    font-size: 25px;
    color: #00bd4b;
    margin-right: 10px;
}


@media(max-width:992px){
    #services{
        margin: 80px 0px;
    }
    #services .upper p {
        margin: 0px auto;
        max-width: 100%;
    }
}
@media(max-width:592px){
    #home{
        text-align: center;
    }
    #home h1{
        font-size: 35px;
    }
    #home .container {
        max-width: 100%;
        padding: 0px 20px;
    }
    #services{
        
    }
}