#process-box{
    text-align: center;
    border: 1px solid #00983d;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;
    height: 130px;
}
#process-box h3{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 900;
}
