#Services h1{
    color: #11526e;
}
#Services p{
    color: #11526e;
}
#Services .main-services{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-top: 100px;
}
#Services .media{
    height: 150px;
}
#Services .media p{
    padding: 0px;
    text-align: start;
   font-size: 15px;
   font-weight: 300;
}
#Services #main-heading{
    color: #0B0C2214;
    font-size: 120px;
    font-weight: 600;
    text-transform: uppercase;
}
#Services .main-services h1{
    margin-top: -120px;
}
#Services .main-services p{
    text-align: center;
    margin: 0 auto;
    width: 60%;

}
 #conversation{
    text-align: center;
    margin-top: 0px;
   background: url(/public//bg-hero.png)no-repeat center center/cover;
}

#tech .tech-text{
    display: flex;
    flex-direction: column;
    height: 60vh;
    text-align: center;
    justify-content: center;
}
#tech p{
    color: #11526e;
    font-size: 18px;
    font-weight: 400;
}
#tech .box{
    margin: 10px 20px;
    border: 1px solid #028329;
    padding: 4px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 22px;
}
#tech .box:hover{
    border-color: #11526e;
    transition: .7s;
}

#tech .slider{
    position: relative;
    overflow: hidden;
}
#tech .slide{
    display: flex;
    flex-direction: row;
    width: calc(250px * 40);
    animation: scroll 40s linear infinite;
    overflow: hidden;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }100%{
       transform: translateX(calc(-100px *10));
    }
}
#tech .slider .item{
    background-color: #00bd4b;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px 5px;
    height: 50px;
}

@media(max-width:992px){
    #Services h2{
        margin-top: -110px;
        font-size: 44px;
        color: #11526e;
        font-weight: 900;
    }
    #Services .main-services p{
        width: 100%;
    }   
}
@media(max-width:768px){
    #tech .tech-text{
        height: 90vh;
    }
}
@media (max-width:576px){
    #Services{
        text-align: center;
        margin: 10px 0px;
    }
    #Services #main-heading{
    font-size: 70px;
}


    #tech .box{
        margin: 10px 10px;
        padding: 4px 20px;
        font-size: 18px;
    }

}
